/*=============================================================*/
/*GENERALES*/
*{
    font-family: 'Hack', monospace;
    font-size: 17px;
    box-sizing: border-box;
    background-color: rgb(232, 237, 241);
    text-decoration: none;
}

/*=============================================================*/
body {
    height: 100vh;
    width: 780px;
    color: #2e2d2b;
    margin: 0 auto;
}

main {
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 30px 0 30px 0;
}

p {
    margin: 30px 0 30px 0;
}

section {
    margin: 0 12px 0;
}

/*=============================================================*/
/*TITULO*/

.title {
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-img {
    width: 230px;
}

/*=============================================================*/
/*MENU*/

.menu {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    max-width: 780px;
}
  
.menu-btn {
    font-weight: 1000;
    border: none; /* Remove button borders */
    background: none; /* Remove button background */
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 12px;
    margin: 0;
    height: 100%;
    color: rgb(143, 143, 143);
    user-select: none;
}

.menu-btn:hover {
    background-color: #bcbec0;
}

.active-menu-btn {
    background-color: #2e2d2b;
    color: rgb(232, 237, 241);
}

.menu-btn .active-menu-a {
    color: rgb(232, 237, 241);
}


@media screen and (max-width: 768px) {
    body {
      max-width: 100%; /* Full width on smaller screens */
      padding: 10px; /* Reduce padding on smaller screens */
    }
}

























/*=============================================================*/
/*IMAGENES Y THUMBNAILS*/

.thumbnail-img {
    filter: grayscale(100%);
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 6px;
    width: 110px;
    height: 110px;
}

.thumbnail-img:hover {
    filter: grayscale(0);
}

.popup-img {
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-img .ex{
    position: absolute;
    top: 10px; right: 20px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    z-index: 100;
}

.popup-img img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .popup-img img {
        width: 95%;
    }
}


/*====================================*/
/*WORKOUT GENERATOR*/

/*ACTIVE ITEM*/
#active {
    background-color: rgb(175, 180, 185);
}

input[type="number"] {
    /* Add custom styles */
    width: 50px;

    /* Remove default number input arrows */
    -webkit-appearance: none;
    -moz-appearance: textfield; /* For Firefox */
    appearance: textfield; /* Override browser styles */
}

/* Style the number input arrows separately */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    -webkit-appearance: none;
}