/*GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@media screen and (max-width: 768px) {
    body {
      max-width: 100%; /* Full width on smaller screens */
      padding: 10px; /* Reduce padding on smaller screens */
    }
}

main {
    margin-top: 26px;
    display: flex;
    align-items: center;
    text-align: left;
}

body.wo-page {
    font-family: 'Monserrat',  sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    text-decoration: none;

    height: 100vh;
    width: 780px;
    color: #fff;
    margin: 0 auto;
    background-color: #202327;
}

li {
    list-style: none;
}

#inputs {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr; /* Two columns of equal width */
    grid-gap: 10px; /* Optional gap between grid items */
}

#fieldset-types { /**/
    margin-bottom: 15px;
    border: none;
    line-height: 0.3;
}
  
#fieldset-types label {
    margin-bottom: 5px;
}
  
  
#ul-wo {
    margin-top: 20px;
    padding: 10px;
    background-color: #557790;
}
  
.wo-page button {
    padding: 10px;
    margin: 10px 10px 10px 0;
    width: 110px;
    cursor: pointer;
    font-family: 'Monserrat',  sans-serif;
    font-size: 17px;
    border: none;
}

.input-div {
    margin: 10px 0;
    height: 36px;
    display: flex;
    align-items: center;
}

.colon {
    margin: 0 6px;
}

#generate {
    width: 230px;
}

.title-wo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-wo h1 {
    margin: 15px 0;
}

h4 {
    margin: 10px 0;
    height: 15px;
    font-weight: normal;
}

.section {
    background-color: #374754;
    margin: 14px 4px;
    padding: 14px;
}

.section #generate-div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0 5px 0;
}

.section button {
    background-color: #6d9ec1;
}

.section button:active {
    background-color: #c7d5e1;
    color: #6d9ec1;
}

.section button:disabled {
    background-color: #545d67;
}

.chrono-div {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #557790;
}

.chrono-div span {
    margin: 0 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

select {
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: textfield; /* for firefox */
    appearance: textfield; /* override browser styles */
    border: 0; /* Add border */
    background-color: #c7d5e1;
    
    font-family: 'Monserrat',  sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.a-wo-home {
    color: #6d9ec1;
    text-decoration: none;
}





/* === WORKOUT DISPLAY === */
#active {
    background-color: #6d9ec1;
}

input[type="number"] {
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield; /* override browser styles */
    padding: 5px;
    border: 0; /* Add border */
    background-color: #c7d5e1;
    
    font-family: 'Monserrat',  sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    -webkit-appearance: none;
}

/* ONLY FOR RADIO BUTTONS */
/* Style radio buttons */
input[type="radio"] {
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* For older versions of Chrome/Safari */
    -moz-appearance: none; /* For older versions of Firefox */
    width: 17px; /* Set width */
    height: 17px; /* Set height */
    border-radius: 50%; /* Make them round */
    border: none; /* Add border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Show pointer cursor */
    position: relative; /* Position for pseudo-element */
    background-color: #c7d5e1;
}
  
/* Style checked radio buttons */
input[type="radio"]:checked {
    background-color: #c7d5e1; /* Change background color when checked */
}
  
/* Create dot for checked radio buttons */
input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px; /* Adjust size of the dot */
    height: 10px; /* Adjust size of the dot */
    border-radius: 50%;
    background-color: #202327;; /* Color of the dot */
}
  
/* Style radio button labels */
input[type="radio"] + label {
    margin-right: 10px; /* Add spacing between radio button and label */
    font-size: 17px; /* Set font size */
}
  
/* Hide default radio button marker */
input[type="radio"]::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 5px;
}

.disabled-option {
    display: none;
}


/* === POPUP MESSAGE === */

#popup-msg {
    display: none;
    position: absolute;
    width: 300px;
    top: calc(100% - 300px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #8e9195;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease; /* Fade in/out transition */
}






